<!DOCTYPE html>
<html>

<head>
    <title>Create Escrow</title>
    <link rel="stylesheet" href="css/main.css">
</head>

<body>

    <div class="container" style="max-width:500px; margin-top:80px;">
        <h2>Create Escrow</h2>

        <form id="escrowForm">
            <input placeholder="Vendor Email" id="vendor">
            <input placeholder="Amount" id="amount" type="number">
            <textarea placeholder="Description" id="desc"></textarea>
            <button class="btn-primary">Create Escrow</button>
        </form>
    </div>

    <script src="js/config.js"></script>
    <script src="js/escrow.js"></script>
</body>

</html>